<div class="header">
  <div class="exit">
    <div>Вход выполнен. {{this.authorization.username}} привет!</div>
    <button class="btn btn-primary" (click)="exit()">Выход</button>
  </div>
  <div *ngIf="!data.editState" class="balance-container" [style]="colorBalance">
    <div class="title-balance">Баланс:</div>
    <div class="balance">{{balance | number | pointReplacer | pointReplacer }} ₽</div>
  </div>
  <div *ngIf="!data.editState" (click)="data.editState = true" class="edit-menu">
    <i class="material-icons">edit</i>
  </div>
  <div *ngIf="data.editState" (click)="data.editState = false" class="edit-menu">
    <div class="edit-menu-content">
      <i class="material-icons">arrow_back</i><span>Изменить категории</span>
    </div>
  </div>
</div>
