<div class="toggle-lists">
  <div class="buttons-container" [class.hidden]="isEditState()">
    <div class="buttons" (click)="toggleMode.emit('category')" [ngClass]="{active: mode() === 'category',
                                                                   noActive: mode() === 'transactions'}">
      <i class="material-icons">donut_large</i>
      <span>Категории</span>
    </div>
    <div class="buttons" (click)="toggleMode.emit('transactions')" [ngClass]="{active: mode() === 'transactions',
                                                                      noActive: mode() === 'category'}">
      <i class="material-icons">receipt</i>
      <span>Операции</span>
    </div>
  </div>
</div>
