<div class="container" (click)="modalChoiceDay = true">
  <div class="day-range first-day" (click)="headerFirstDay = true">
    <div class="material-icons">today</div>
    <div>C</div>
    <div>{{firstDayRange | moment: 'DD MMMM Y'}}</div>
  </div>
  <div class="day-range last-day" (click)="headerLastDay = true">
    <div class="material-icons">event</div>
    <div>По</div>
    <div>{{lastDayRange | moment: 'DD MMMM Y'}}</div>
  </div>
</div>

<div class="modal-choice-day" *ngIf="modalChoiceDay === true">

  <div class="buttons-container mb-2" *ngIf="headerFirstDay">
    <button class="btn create material-icons"
            (click)="modalChoiceDay = false;
            headerFirstDay = false;
            choiceFirstDay()">
      check
    </button>
    <div class="total-date">{{ ChoiceDayRange | moment: 'DD.MM.Y' }}</div>
  </div>

  <div class="buttons-container mb-2" *ngIf="headerLastDay">
    <button class="btn create material-icons"
            (click)="modalChoiceDay = false;
            headerLastDay = false;
            choiceLastDay()">
      check
    </button>
    <div class="total-date">{{ ChoiceDayRange | moment: 'DD.MM.Y' }}</div>
  </div>

  <div class="choice-interface">
    <div class="change-month">
      <i class="material-icons" (click)="userData.dateFilter = 'm'; go(-1); userData.dateFilter = 't'">arrow_left</i>
      <span>{{ dateService.date | async | moment: 'MMMM' }}</span>
      <i class="material-icons" (click)="userData.dateFilter = 'm'; go(1); userData.dateFilter = 't'">arrow_right</i>
    </div>
    <div class="change-year">
      <i class="material-icons" (click)="userData.dateFilter = 'y'; go(-1); userData.dateFilter = 't'">arrow_left</i>
      <span>{{ dateService.date | async | moment: 'Y' }}</span>
      <i class="material-icons" (click)="userData.dateFilter = 'y'; go(1); userData.dateFilter = 't'">arrow_right</i>
    </div>
  </div>
  <app-calendar></app-calendar>
</div>
