<div class="transaction-list-container">
  <ul>
    <li *ngFor="let elem of days, let idx = index">
      <header>
        <div class="big-day day-title">
          {{momentDays[idx] | moment: 'DD'}}
        </div>
        <div class="week-small-date">
          <div class="week-day day-title">
            {{momentDays[idx] | moment: 'dddd'}}
          </div>
          <div class="small-date-container">
            <div class="small-date day-title">
              {{momentDays[idx] | moment: 'DD MMMM YYYY'}}
            </div>
          </div>
        </div>
        <div class="day-amount" [style]="colorAmount(elem.transactions)">{{dayAmount(elem.transactions)}} ₽</div>
      </header>
      <ul>
        <li *ngFor="let e of elem.transactions"
            class="transaction-container"
            (click)="modalCreateTransaction = true;
                    tempCategory = category(e.typeTransaction, e.category);
                    transactionType = e.typeTransaction;
                    tempIconCategory = icon(e.typeTransaction, e.category);
                    tempColorCategory = color(e.typeTransaction, e.category);
                    indexCategory = e.category;
                    idTransaction = e.id">
          <div class="icon material-icons" [style]="backgroundColor(e.typeTransaction, e.category)">
            {{icon(e.typeTransaction, e.category)}}
          </div>
          <div class="text-container">
            <div class="category text">{{category(e.typeTransaction, e.category)}}</div>
            <div class="title text">{{ e.title }}</div>
          </div>
          <div class="amount" [style]="colorAmount(e.typeTransaction)">
            {{ transactionAmount(e) }} ₽
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="modal-transaction" *ngIf="modalCreateTransaction">
  <div class="modal-transaction-shadow" (click)="modalCreateTransaction = false"></div>
  <app-modal-transaction [dateFilter]="data.dateFilter.value"
                         [firstDayWeek]="dateService.date.value.clone().startOf('week')"
                         [lastDayMonth]="dateService.date.value.clone().endOf('month')"
                         [lastDayWeek]="dateService.date.value.clone().endOf('week')"
                         [tempTitleCategory]="tempCategory"
                         [transactionType]="transactionType"
                         [tempIconCategory]="tempIconCategory"
                         [tempColorCategory]="tempColorCategory"
                         [yesterday]="dateService.date.value"
                         [indexCategory]="indexCategory"
                         [idTransaction]="idTransaction"
                         (closeModalTransaction)="modalCreateTransaction = false"
                         (transactionCreated)="modalCreateTransaction = false">
  </app-modal-transaction>
</div>
{{days[0].transactions | json}}
