.buttons-container {
  width: 40%;
  margin: 40px auto 0;
  display: flex;

  .buttons {
    display: grid;
    width: 50%;

    i, span {
      text-align: center;
      cursor: pointer;
    }
  }
}

.hidden {
  visibility: hidden;
}

.active {
  color: #4646b0;
}

.noActive {
  color: dimgray;
}
