.buttons-container {
  width: 40%;
  margin: 80px auto 0;
  display: flex;

  .buttons {
    display: grid;
    width: 50%;

    i, span {
      text-align: center;
      cursor: pointer;
    }
  }
}
