<!--{{titlesExpense | json}}-->
<main>
  <ul>

    <li *ngFor="let elem of data.dataInterfaceExpense; let idx = index">
      <div *ngIf="titlesExpense[idx]" (click)="openModalCreateCost(idx)">
        <h2>{{titlesExpense[idx]}}</h2>
        <div class="costs" style="{{backgroundColors[idx]}}">1</div>
        <div class="sum" style="{{costsColor[idx]}}">{{costs[idx]}} ₽</div>
      </div>
    <div *ngIf="!titlesExpense[idx] && titlesExpense[idx - 1]" (click)="modalCreateExpenseCategory = true">
      <div class="costs newCost material-icons">add</div>
    </div>
    </li>

    <li class="donut-chart">
      <app-donut-chart></app-donut-chart>
    </li>

  </ul>

  <div class="modalCreateExpenseCategory" *ngIf="modalCreateExpenseCategory">
    <div class="buttons-container">
      <button class="btn cancel" (click)="modalCreateExpenseCategory = false">x</button>
      <button class="btn create" [disabled]="!inputValue" (click)="createExpenseCategory()">v</button>
    </div>
    <div class="input-container">
      <label>
        <input type="text" (input)="inputHandlerCategory($event)" placeholder="Название"/>
      </label>
    </div>
  </div>

  <div class="modalCreateCost" *ngIf="modalCreateCost">
    <div class="buttons-container">
      <button class="btn cancel" (click)="modalCreateCost = false">x</button>
      <button class="btn create" [disabled]="!inputValue" (click)="createNewCost()">v</button>
    </div>
    <div class="input-container">
      <label>
        <input type="number" class="mb-2" (input)="inputHandlerCost($event)" placeholder="Введите сумму"/>
      </label>
      <label>
        <input type="text" (input)="inputHandlerNotes($event)" placeholder="Заметки..."/>
      </label>
    </div>
  </div>
</main>
