<div class="header">
  <div class="exit">
    <div>{{ username }} привет!</div>
    <button class="btn btn-primary" (click)="exit()">Выход</button>
  </div>
  @if (isEditState()) {
    <div class="edit-menu" (click)="toggleEditState()">
    <div class="edit-menu-content">
      <i class="material-icons">arrow_back</i><span>Изменить категории</span>
    </div>
  </div>
  } @else {
    <div class="balance-container">
      <div 
        class="title-balance" 
        [class.green-balance]="isBalancePositive" 
        [class.red-balance]="!isBalancePositive"
      >
        Баланс:
      </div>
      <div 
        class="balance"
        [class.green-balance]="isBalancePositive" 
        [class.red-balance]="!isBalancePositive"
      >
        {{ balance | number | pointReplacer }} ₽
      </div>
    </div>
    <div class="edit-menu" (click)="toggleEditState()">
      <i class="material-icons icon-edit">edit</i>
    </div>
    <app-date-control></app-date-control>
  }
</div>
