.transaction-list-container {
  width: 50%;
  height: 475px;
  overflow-y: scroll;
  margin: 0 auto;

  header {
    background-color: lightgray;
    padding-left: 20px;
    height: 50px;
    display: grid;
    grid-template-columns: 50px 1fr auto;

    .day-title {
      text-transform: uppercase;
      font-weight: 500;
      color: dimgray;
    }

    .big-day {
      font-size: 2rem;
      justify-content: center;
    }

    .week-small-date {
      .week-day {
        font-size: .8rem;
        opacity: .6;
        margin-left: 4px;
      }

      .small-date-container {
        position: relative;
        overflow: hidden;
        height: 25px;

        .small-date {
          height: 25px;
          position: absolute;
          top: 0;
          left: -18px;
        }
      }
    }

    .day-amount {
      margin-right: 30px;
      display: flex;
      align-items: center;
      font-size: 1.7rem;
    }
  }

  .transaction-container {
    margin: 15px 30px;
    list-style: none;
    display: grid;
    grid-template-columns: 45px 1fr auto;
    height: 45px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    align-items: center;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 75%;
      width: 75%;
      color: white;
      font-size: 1.2rem;
    }

    .text {
      margin-left: 20px;
    }

    .category {
      font-size: 1rem;
    }

    .title {
      color: dimgray;
      font-style: italic;
      font-size: .8rem;
    }

    .amount {
      font-size: 1.2rem;
    }
  }
}
