<!--{{data.expenseColors | json}}-->

<svg width="100%" height="100%" viewBox="0 0 42 42" class="diagram">
  <circle class="diagram-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4"
          stroke-width="3"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.expenseColors[0]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[0]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[0]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.expenseColors[1]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[1]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[1]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.expenseColors[2]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[2]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[2]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.expenseColors[3]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[3]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[3]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.expenseColors[4]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[4]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[4]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.expenseColors[5]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[5]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[5]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.expenseColors[6]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[6]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[6]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.expenseColors[7]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[7]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[7]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.expenseColors[8]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[8]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[8]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.expenseColors[9]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[9]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[9]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.expenseColors[10]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[10]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[10]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.expenseColors[11]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[11]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[11]"></circle>
  <g class="diagram-text">
    <text x="50%" y="50%" class="costs-label" (click)="data.toggleTypeTransaction()">
      Расходы
    </text>
    <text x="50%" y="50%" class="costs-number" fill="#B51515" stroke="#B51515" stroke-width="0.1" (click)="sey()">
      {{ data.costsAll | number | pointReplacer | pointReplacer }} ₽
    </text>
    <text x="50%" y="50%" class="income-number" fill="#14802D">
      {{ incomeAll | number | pointReplacer | pointReplacer }} ₽
    </text>
  </g>
</svg>
