<svg width="100%" height="100%" viewBox="0 0 42 42" class="diagram">
  <circle class="diagram-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4"
          stroke-width="3"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.transactionColors[0]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[0]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[0]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.transactionColors[1]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[1]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[1]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.transactionColors[2]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[2]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[2]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.transactionColors[3]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[3]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[3]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.transactionColors[4]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[4]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[4]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.transactionColors[5]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[5]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[5]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.transactionColors[6]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[6]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[6]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.transactionColors[7]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[7]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[7]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.transactionColors[8]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[8]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[8]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.transactionColors[9]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[9]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[9]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.transactionColors[10]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[10]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[10]"></circle>
  <circle class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          [attr.stroke]=data.transactionColors[11]
          stroke-width="3" [attr.stroke-dasharray]="data.strokeDasharray[11]"
          [attr.stroke-dashoffset]="data.strokeDashoffset[11]"></circle>
  <g class="diagram-text">
    <text x="50%" y="50%" class="transaction-label">
      {{title}}
    </text>
    <text x="50%" y="50%" class="transaction-number" [attr.fill]="transactionNumberColor"
          [attr.stroke]="transactionNumberColor" stroke-width="0.1">
      {{ data.transactionsAll | number | pointReplacer | pointReplacer }} ₽
    </text>
    <text x="50%" y="50%" class="transaction-inverse-number" [attr.fill]="transactionInverseNumberColor">
      {{ transactionInverseNumber | number | pointReplacer | pointReplacer }} ₽
    </text>
  </g>
</svg>
