<section>
  <div class="main-costs-page">
    <ul>

      <li *ngFor="let elem of dataInterfaceTransactions; let idx = index">
        <div *ngIf="titlesTransactions[idx]" (click)="closeAllModal();
                                        this.modalDateFilter = false;
                                        openModalCreateCost(idx)"
             [ngClass]="{opacity03: transactions[idx] === 0}">
          <h2>{{titlesTransactions[idx]}}</h2>
          <div class="costs material-icons" style="{{backgroundColors[idx]}}">{{iconTransactions[idx]}}</div>
          <div class="sum" style="{{colors[idx]}}">{{transactions[idx]}} ₽</div>
        </div>
        <div *ngIf="!titlesTransactions[idx] && titlesTransactions[idx - 1]" (click)="closeAllModal();
                                                                            openModalCreateExpenseCategory(idx);
                                                                            this.modalDateFilter = false;">
          <div class="costs new-cost material-icons" [ngClass]="{hidden: data.editState}">add</div>
        </div>
      </li>

      <li class="donut-chart">
        <app-donut-chart (click)="data.toggleTypeTransaction()"></app-donut-chart>
      </li>

    </ul>

    <div class="modal-create-category-container" *ngIf="modalCreateCategory">
      <div class="shadow" (click)="closeAllModal()"></div>
      <div class="modal-create-category">
        <div class="buttons-container mb-2" style="{{colorNewCategory}}">
          <button class="btn cancel material-icons" (click)="modalCreateCategory = false">close</button>
          <button class="btn create material-icons" [disabled]="!inputValue && !data.editState"
                  (click)="createCategory()">
            check
          </button>
        </div>
        <div class="input-container mb-4">
          <label>
            <input type="text" (input)="inputHandlerCategory($event)" [value]="tempTitleCategory"
                   placeholder="Название категории"/>
          </label>
          <div class="costs new-icon material-icons" style="{{colorNewCategory}}"
               (click)="modalChangeIcon = true">{{iconNewCategory}}
          </div>
        </div>
      </div>
    </div>

    <div class="modal-change-icon" *ngIf="modalChangeIcon">
      <div class="buttons-container" style="{{colorNewCategory}}">
        <button class="btn cancel material-icons" (click)="modalChangeIcon = false">arrow_back</button>
      </div>
      <div class="container-input-color">
        <div class="costs material-icons" style="{{colorNewCategory}}">
          {{iconNewCategory}}
        </div>
        <label>
          <input type="color" (input)="inputHandlerColor($event)" [value]="tempColorCategory"/>
        </label>
      </div>
      <ul class="list-icons">
        <li class="material-icons" *ngFor="let elem of listIcon; let idx = index"
            (click)="iconNewCategory = listIcon[idx]">{{elem}}</li>
      </ul>
    </div>

    <div class="modal-transaction" *ngIf="modalCreateTransaction">
      <div class="modal-transaction-shadow" (click)="modalCreateTransaction = false"></div>
      <app-modal-transaction [dateFilter]="data.dateFilter.value"
                             [firstDayWeek]="firstDayWeek"
                             [lastDayMonth]="lastDayMonth"
                             [lastDayWeek]="lastDayWeek"
                             [tempTitleCategory]="tempTitleCategory"
                             [transactionType]="transactionType"
                             [typeTransactionColor]="typeTransactionColor"
                             [tempIconCategory]="tempIconCategory"
                             [tempColorCategory]="tempColorCategory"
                             [yesterday]="yesterday"
                             [indexCategory]="indexCategory"
                             [dateServiceDate]="dateService.date"
                             (closeModalTransaction)="modalCreateTransaction = false"
                             (transactionCreated)="createdTransaction()">
      </app-modal-transaction>
    </div>

    <div class="modal-choice-day-container" *ngIf="modalChoiceDay === true">
      <div class="shadow" (click)="modalChoiceDay = false"></div>
      <div class="modal-choice-day">
        <div class="buttons-container mb-2">
          <button class="btn create material-icons"
                  (click)="modalChoiceDay = false;
                  ngOnInit()">
            check
          </button>
          <div class="total-date">{{ dateService.date | async | moment: 'DD.MM.Y' }}</div>
        </div>
        <div class="choice-interface">
          <div class="change-month">
            <i class="material-icons" (click)="data.dateFilter.next('m');
                                             go(-1);
                                             data.dateFilter.next('t')">
              arrow_left
            </i>
            <span>{{ dateService.date | async | moment: 'MMMM' }}</span>
            <i class="material-icons" (click)="data.dateFilter.next('m');
                                             go(1);
                                              data.dateFilter.next('t')">
              arrow_right
            </i>
          </div>
          <div class="change-year">
            <i class="material-icons" (click)="data.dateFilter.next('y');
                                             go(-1);
                                               data.dateFilter.next('t')">
              arrow_left
            </i>
            <span>{{ dateService.date | async | moment: 'Y' }}</span>
            <i class="material-icons" (click)="data.dateFilter.next('y');
                                    go(1);
                                     data.dateFilter.next('t')">
              arrow_right
            </i>
          </div>
        </div>
        <app-calendar></app-calendar>
      </div>
    </div>

    <div class="modal-choose-range-container" *ngIf="modalChooseRange === true">
      <div class="shadow" (click)="modalChooseRange = false"></div>
      <div class="modal-choose-range">
        <div class="buttons-container mb-3">
          <button class="btn create material-icons" (click)="modalChooseRange = false;
                                                   data.dateFilter.next('r')">
            check
          </button>
          <span>Выбрать диапазон</span>
        </div>
        <app-choose-range></app-choose-range>
      </div>
    </div>

  </div>
</section>
