<section>
  <div class="container-date-filter" (click)="closeAllModal()" [ngClass]="{hidden: data.editState}">
    <i class="material-icons" *ngIf="dateFilter !== 'i'" (click)="go(-1)">arrow_left</i>
    <span class="modal-button" *ngIf="dateFilter === 'm'" (click)="modalDateFilter = true">
      <span class="filter-icons"><span>{{lastDayMonth | moment: 'DD' }}</span></span>
      <span class="date-filter-title">{{ dateService.date | async | moment }}</span>
      <i class="material-icons">arrow_drop_down</i>
    </span>
    <span class="modal-button" *ngIf="dateFilter === 't' || dateFilter === 'd'"
          (click)="modalDateFilter = true; backToNowDate()">
      <span class="filter-icons"><span>1</span></span>
      <span class="date-filter-title">{{ dateService.date | async | moment: 'ddd DD MMMM y' }}</span>
      <i class="material-icons">arrow_drop_down</i>
    </span>
    <span class="modal-button" *ngIf="dateFilter === 'w'" (click)="modalDateFilter = true">
      <span class="filter-icons"><span>7</span></span>
      <span class="date-filter-title">
        {{ firstDayWeek | moment: 'D' }} - {{ lastDayWeek | moment: 'D MMMM y'}}
      </span>
      <i class="material-icons">arrow_drop_down</i>
    </span>
    <span class="modal-button" *ngIf="dateFilter === 'y'" (click)="modalDateFilter = true">
      <span class="filter-icons_year"><span>365</span></span>
      <span class="date-filter-title">{{ dateService.date | async | moment: 'y' }} ГОД</span>
      <i class="material-icons">arrow_drop_down</i>
    </span>
    <span class="modal-button" *ngIf="dateFilter === 'i'" (click)="modalDateFilter = true">
      <span class="material-icons">all_inclusive</span>
      <span class="date-filter-title">ВСЁ ВРЕМЯ</span>
      <i class="material-icons">arrow_drop_down</i>
    </span>
    <span class="modal-button" *ngIf="dateFilter === 'r'" (click)="modalDateFilter = true; clearChoiceDate()">
      <span class="material-icons">date_range</span>
      <span class="date-filter-title">{{ data.choiceFirstDay | moment: 'DD.MM.Y' }} -
        {{ data.choiceLastDay | moment: 'DD.MM.Y' }}
      </span>
      <i class="material-icons">arrow_drop_down</i>
    </span>
    <i class="material-icons" *ngIf="dateFilter !== 'i'" (click)="go(1)">arrow_right</i>
  </div>

  <div class="main-costs-page">
    <ul>

      <li *ngFor="let elem of data.dataInterfaceExpense; let idx = index">
        <div *ngIf="titlesExpense[idx]" (click)="closeAllModal();
                                        this.modalDateFilter = false;
                                        openModalCreateCost(idx)"
             [ngClass]="{opacity03: costs[idx] === 0}">
          <h2>{{titlesExpense[idx]}}</h2>
          <div class="costs material-icons" style="{{backgroundColors[idx]}}">{{iconExpense[idx]}}</div>
          <div class="sum" style="{{costsColor[idx]}}">{{costs[idx]}} ₽</div>
        </div>
        <div *ngIf="!titlesExpense[idx] && titlesExpense[idx - 1]" (click)="closeAllModal();
                                                                            openModalCreateExpenseCategory(idx);
                                                                            this.modalDateFilter = false;">
          <div class="costs new-cost material-icons" [ngClass]="{hidden: data.editState}">add</div>
        </div>
      </li>

      <li class="donut-chart">
        <app-donut-chart></app-donut-chart>
      </li>

    </ul>

    <div class="modal-create-expense-category-container" *ngIf="modalCreateExpenseCategory">
      <div class="shadow" (click)="closeAllModal()"></div>
      <div class="modal-create-expense-category">
        <div class="buttons-container mb-2" style="{{colorNewExpenseCategory}}">
          <button class="btn cancel material-icons" (click)="modalCreateExpenseCategory = false">close</button>
          <button class="btn create material-icons" [disabled]="!inputValue && !data.editState"
                  (click)="createExpenseCategory()">
            check
          </button>
        </div>
        <div class="input-container mb-4">
          <label>
            <input type="text" (input)="inputHandlerCategory($event)" [value]="tempTitleCategory"
                   placeholder="Название категории"/>
          </label>
          <div class="costs new-icon material-icons" style="{{colorNewExpenseCategory}}"
               (click)="modalChangeIcon = true">{{iconNewExpenseCategory}}
          </div>
        </div>
        <div class="del-category">
          <span class="iconify del-icon" data-icon="mdi:delete" data-inline="false"></span>
          <span class="del-title">удалить категорию</span>
        </div>
      </div>
    </div>

    <div class="modal-change-icon" *ngIf="modalChangeIcon">
      <div class="buttons-container" style="{{colorNewExpenseCategory}}">
        <button class="btn cancel material-icons" (click)="modalChangeIcon = false">arrow_back</button>
      </div>
      <div class="container-input-color">
        <div class="costs material-icons" style="{{colorNewExpenseCategory}}">
          {{iconNewExpenseCategory}}
        </div>
        <label>
          <input type="color" (input)="inputHandlerColor($event)" [value]="tempColorCategory"/>
        </label>
      </div>
      <ul class="list-icons">
        <li class="material-icons" *ngFor="let elem of listIcon; let idx = index"
            (click)="iconNewExpenseCategory = listIcon[idx]">{{elem}}</li>
      </ul>
    </div>

    <div class="modal-transaction" *ngIf="modalCreateCost">
      <div class="modal-transaction-shadow" (click)="modalCreateCost = false"></div>
      <app-modal-transaction [dateFilter]="dateFilter"
                             [firstDayWeek]="firstDayWeek"
                             [lastDayMonth]="lastDayMonth"
                             [lastDayWeek]="lastDayWeek"
                             [tempTitleCategory]="tempTitleCategory"
                             [transactionType]="transactionType"
                             [typeTransactionColor]="typeTransactionColor"
                             [tempIconCategory]="tempIconCategory"
                             [tempColorCategory]="tempColorCategory"
                             [yesterday]="yesterday"
                             [indexCostCategory]="indexCostCategory"
                             [dateServiceDate]="dateService.date"
                             (closeModalTransaction)="modalCreateCost = false"
                             (transactionCreated)="createdTransaction()">
      </app-modal-transaction>
    </div>

    <div class="modal-date-filter-container" *ngIf="modalDateFilter">
      <div class="shadow" (click)="closeAllModal(); modalDateFilter = false"></div>
      <ul class="modal-date-filter">
        <li class="filter-range filter-date-btn"
            [ngClass]="{choice: dateFilter === 'r'}"
            (click)="modalDateFilter = false;
            dateFilter = 'r';
            data.dateFilter = 'r';
            modalChooseRange = true;
            ngOnInit()">
          <div class="material-icons">date_range</div>
          <div class="filter-text">Выбрать диапазон</div>
          <div class="date">{{ dateService.date | async | moment }}</div>
        </li>
        <li class="filter-infinity filter-date-btn"
            [ngClass]="{choice: dateFilter === 'i'}"
            (click)="modalDateFilter = false;
            dateFilter = 'i';
            data.dateFilter = 'i';
            ngOnInit()">
          <div class="material-icons">all_inclusive</div>
          <div class="filter-text">Всё время</div>
        </li>
        <li class="filter-day filter-date-btn"
            [ngClass]="{choice: dateFilter === 'd'}"
            (click)="modalDateFilter = false;
            modalChoiceDay = true;
            dateFilter = 'd';
            data.dateFilter = 'd';
            backToNowDate()">
          <div class="filter-icons">
            <div>1</div>
          </div>
          <div class="filter-text">Выбрать день</div>
        </li>
        <li class="filter-week filter-date-btn"
            [ngClass]="{choice: dateFilter === 'w'}"
            (click)="modalDateFilter = false;
            dateFilter = 'w';
            data.dateFilter = 'w';
            ngOnInit();
            backToNowDate()">
          <div class="filter-icons">
            <div>7</div>
          </div>
          <div class="filter-text">Неделя</div>
          <div class="date">
            {{ today.firstDayOfWeek }} -
            {{ today.lastDayOfWeek }}
          </div>
        </li>
        <li class="filter-today filter-date-btn"
            [ngClass]="{choice: dateFilter === 't'}"
            (click)="modalDateFilter = false;
            dateFilter = 't';
            data.dateFilter = 't';
            ngOnInit();
            backToNowDate()">
          <div class="material-icons">today</div>
          <div class="filter-text">Сегодня</div>
          <div class="date">{{ today.today }}</div>
        </li>
        <li class="filter-year filter-date-btn"
            [ngClass]="{choice: dateFilter === 'y'}"
            (click)="modalDateFilter = false;
            dateFilter = 'y';
            data.dateFilter = 'y';
            ngOnInit();
            backToNowDate()">
          <div class="filter-icons">
            <div class="filter-icons_year">365</div>
          </div>
          <div class="filter-text">Год</div>
          <div class="date">{{ today.year }} год</div>
        </li>
        <li class="filter-month filter-date-btn"
            [ngClass]="{choice: dateFilter === 'm'}"
            (click)="modalDateFilter = false;
            dateFilter = 'm';
            data.dateFilter = 'm';
            ngOnInit();
            backToNowDate()">
          <div class="filter-icons">
            <div>{{today.lastDayOfMonth }}</div>
          </div>
          <div class="filter-text">Месяц</div>
          <div class="date">{{ today.month }}</div>
        </li>
      </ul>
    </div>

    <div class="modal-choice-day-container" *ngIf="modalChoiceDay === true">
      <div class="shadow" (click)="modalChoiceDay = false"></div>
      <div class="modal-choice-day">
        <div class="buttons-container mb-2">
          <button class="btn create material-icons"
                  (click)="modalChoiceDay = false;
                  ngOnInit()">
            check
          </button>
          <div class="total-date">{{ dateService.date | async | moment: 'DD.MM.Y' }}</div>
        </div>
        <div class="choice-interface">
          <div class="change-month">
            <i class="material-icons" (click)="dateFilter = 'm';
                                             go(-1);
                                             dateFilter = 't';
                                             data.dateFilter = 't'">
              arrow_left
            </i>
            <span>{{ dateService.date | async | moment: 'MMMM' }}</span>
            <i class="material-icons" (click)="dateFilter = 'm';
                                             go(1);
                                             dateFilter = 't';
                                             data.dateFilter = 't'">
              arrow_right
            </i>
          </div>
          <div class="change-year">
            <i class="material-icons" (click)="dateFilter = 'y';
                                             go(-1);
                                              dateFilter = 't';
                                              data.dateFilter = 't'">
              arrow_left
            </i>
            <span>{{ dateService.date | async | moment: 'Y' }}</span>
            <i class="material-icons" (click)="dateFilter = 'y';
                                    go(1);
                                    dateFilter = 't';
                                    data.dateFilter = 't'">
              arrow_right
            </i>
          </div>
        </div>
        <app-calendar></app-calendar>
      </div>
    </div>

    <div class="modal-choose-range-container" *ngIf="modalChooseRange === true">
      <div class="shadow" (click)="modalChooseRange = false"></div>
      <div class="modal-choose-range">
        <div class="buttons-container mb-3">
          <button class="btn create material-icons" (click)="modalChooseRange = false;
                                                  dateFilter = 'r';
                                                  data.dateFilter = 'r';
                                                  ngOnInit()">
            check
          </button>
          <span>Выбрать диапазон</span>
        </div>
        <app-choose-range></app-choose-range>
      </div>
    </div>

  </div>
</section>
