.container-date-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 30px 0;

  .modal-button {
    font-weight: 500;
    margin: 0 2rem;
    text-align: center;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;

    .date-filter-title {
      margin-left: 10px;
    }
  }

  i {
    cursor: pointer;
  }
}

.main-costs-page {
  position: relative;

  ul {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
    width: 450px;
    margin: 30px auto;
    align-items: center;
  }

  .opacity03 {
    opacity: .3;
  }

  .donut-chart {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
  }

  li {
    list-style: none;

    &:hover {
      cursor: pointer;
    }

    h2 {
      font-size: 1rem;
      text-align: center;
    }

    .sum {
      display: flex;
      justify-content: center;
    }
  }

  .costs {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  .new-icon {
    background-color: blue;
    margin-top: 30px;
    cursor: pointer;
  }

  .new-cost {
    background-color: lightgray;
    opacity: .4;
    border: 2px dashed gray;
    color: black;
  }

  .modal-create-expense-category,
  .modal-create-cost,
  .modal-change-icon,
  .modal-date-filter,
  .modal-choice-day,
  .modal-choose-range {
    position: absolute;
    left: calc(50% - 100px);
    top: 50px;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    height: 200px;
    color: lightgray;

    .buttons-container {
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
      background-color: #4646b0;

      .btn {
        color: white;
      }
    }

    .input-container {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      input {
        border: none;
        outline: none;
      }

      .inputCEC {
        position: absolute;
      }
    }
  }

  .modal-create-expense-category-container {
    position: absolute;
    top: -202px;
    left: 0;
    height: 100vh;
    width: 100%;

    .shadow {
      height: 100vh;
      width: 100%;
      background-color: black;
      opacity: .6;
    }

    .modal-create-expense-category {
      top: 255px;

      input {
        border-bottom: 1px solid lightgray;
      }

      .del-category {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #961818;
        padding-right: 8px;
        margin-top: 10px;
      }
    }
  }

  .modal-choice-day {
    height: 400px;
    top: 200px;
    left: calc(50% - 200px);
    width: 400px;

    .total-date {
      display: flex;
      align-items: center;
      margin-right: 10px;
      color: lightgray;
    }

    .choice-interface {
      display: flex;
      justify-content: space-around;
      margin-bottom: 5px;

      div {
        width: 40%;
        display: flex;
        justify-content: space-between;

        i {
          cursor: pointer;
        }
      }
    }
  }

  .modal-change-icon {
    width: 300px;
    height: 300px;
    left: calc(50% - 150px);

    .container-input-color {
      display: flex;
      justify-content: center;
      position: relative;

      .costs {
        border: 4px solid white;
        position: absolute;
        top: -25px;
        right: 30px;
        width: 50px;
        height: 50px;
        cursor: default;
      }

      input {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-inline: none;
        margin: 5px;
        cursor: pointer;

        &:hover {
          border-inline: 4px solid gray;
          width: 40px;
          transition: all 0.1s;
        }
      }
    }

    .list-icons {
      margin: 0;
      padding: 5px;
      background-color: lightgray;
      width: 100%;
      height: 65%;
      overflow-y: scroll;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(16, 50px);
      grid-gap: 10px;

      li {
        margin: 0 auto;
        background-color: gray;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        color: white;
      }
    }
  }

  .modal-transaction {
    position: absolute;
    top: -202px;
    left: 0;
    width: 100%;
    height: 100vh;

    .modal-transaction-shadow {
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .6;
      height: 100vh;
      width: 100%;
    }
  }

  .modal-choose-range-container {
    .modal-choose-range {
      color: dimgray;
      top: 200px;
      width: 300px;
      left: calc(50% - 150px);

      .container {
        padding: 0;
      }

      .buttons-container {

        span {
          margin: 5px 15px;
          color: lightgray;
        }
      }
    }
  }


  .modal-date-filter-container,
  .modal-choice-day-container,
  .modal-choose-range-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -202px;
    left: 0;

    .shadow {
      height: 100vh;
      width: 100%;
      background-color: black;
      opacity: .6;
    }

    .modal-date-filter {
      width: 300px;
      left: calc(50% - 150px);
      top: 180px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 0;
      margin: 0;
      padding: 0;
      height: 400px;
      font-size: small;
      color: dimgray;

      .choice {
        background-color: #4646b0;
        color: white;
        border-radius: 4px;

        * {
          color: white;
        }
      }

      .filter-date-btn {
        margin: 0;
        padding: 3px;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;

        .material-icons {
          font-size: 2.2rem;
        }

        & * {
          width: 100%;
          text-align: center;
        }
      }

      .filter-text {
        color: dimgray;
        font-size: 1rem;
      }

      .filter-range {
        grid-column: span 2;
      }

      .filter-infinity,
      .filter-week,
      .filter-year {
        border-right: 1px solid lightgray;
      }

      .filter-infinity,
      .filter-week,
      .filter-year,
      .filter-day,
      .filter-today,
      .filter-month {
        border-top: 1px solid lightgray;
      }

      .filter-icons {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;

        .filter-icons_year {
          width: 50px;
        }

        div {
          background-color: lightgray;
          width: 35px;
          border-radius: 4px;
          padding: 3px;
          color: dimgray;
          font-family: 'Roboto Slab', serif;
          font-size: 1.2rem;
        }
      }

      .date {
        font-size: small;
      }
    }
  }
}

.hidden {
  visibility: hidden;
}

li {
  list-style: none;
}

.filter-icons, .filter-icons_year {
  display: flex;
  justify-content: center;

  span {
    background-color: lightgray;
    width: 30px;
    border-radius: 4px;
    padding: 3px;
    color: dimgray;
    font-family: 'Roboto Slab', serif;
  }
}

.filter-icons_year span {
  width: 35px;
}
