<ul>
  @for (category of categories; track $index) {
    <li>
      @if (category.title) {
        <div
          [class.opacity03]="!sumCategory($index)"
          (click)="clickToCategory($index)"
        >
          <h2>{{ category.title }}</h2>
          <div class="costs material-icons" [style]="backgroundColor($index)">
            {{ category.icon }}
          </div>
          <div class="sum" [style]="color($index)">
            {{ sumCategory($index) }} ₽
          </div>
        </div>
      }

      @if (isShowAddButton($index)) {
        <div
          class="costs new-cost material-icons"
          (click)="clickToCategory($index)"
        >
          add
        </div>
      }
    </li>
  }

  <li class="donut-chart" (click)="toggleTypeTransactions()">
    <app-donut-chart
      [interface]="categories"
      [typeTransactions]="typeTransactions"
      [sumsCategory]="sumsCategory()"
    ></app-donut-chart>
  </li>
</ul>

@if (isAddTransaction) {
  <app-create-transaction
    [interface]="categories"
    [indexCategory]="indexCategory"
    (closeModalTransaction)="closeModal()"
  ></app-create-transaction>
}

@if (isEditCategory) {
  <app-edit-category
    [interface]="categories"
    [indexCategory]="indexCategory"
    (closeEditCategory)="closeModal()"
  ></app-edit-category>
}
