form {

  max-width: 500px;
  margin: 150px auto;
  text-align: center;

  input {
    text-align: center;
  }

  .link-recovery {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}


